<section class="main-wrapper section">
  <h2 class="section-title"><i class="fa fa-rocket"></i>Previous Experiences</h2>

              <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                            <h3 class="job-title">Software Engineer, 인턴</h3>
                            <div class="time">2012년 7월 - 2012년 11월</div>
                            <div class="company">LG전자, 서울</div>
                      </div><!--//upper-row-->
                    </div><!--//meta-->
                </div>
                    <div class="details">
                        <b> Mobile Touch Algorithm Testing App. 개발</b><br>
                        - 사용기술: Android, MFC<br>
                        - Convex Hull, Interpolation 등 Algorithm 위주의 개발
                    </div>
            </section><!--//skills-section-->
