<section class="section main-wrapper">
                <h2 class="section-title"><i class="fa fa-briefcase"></i> Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Mgt. Sr.Engineer</h3>
                            <div class="time">2013년 12월 - 현재</div>
                            <div class="company">CJ올리브네트웍스, 서울</div>
                        </div><!--//upper-row-->
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>- 올리브영 ERP 시스템 운영/개발</b>
                        <br>&nbsp - 유통 비즈니스 프로세스 및 시스템 변경 영향도 분석/설계
                        <br>&nbsp - SCM, 발주, 매출, 재고, 상품, 프로모션, 멤버십 모듈 운영/개발
                        <br>&nbsp - 정보보안 담당(서버 및 서비스 보안관리)<br> </p>

                    </div><!--//details-->

                </div><!--//item-->
            </section><!--//section-->
