<section class="main-wrapper">
                <h2 class="section-title"><i class="fa fa-archive"></i> Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                  <h4 class="project-title">올리브영 ERP 차세대 프로젝트 (100억 규모)</h4>
                  <span class="project-tagline">2015년 5월 - 2016년 9월</span>
                      <br>- 업무정의 및 시스템 설계, 개발, 테스트, 배포 전 과정 참여<br>
                </div><!--//item-->
                <div class="item">
                  <br>
                    <span class="project-title">올리브영 SCM 고도화 프로젝트</span>
                      <br>- 올리브영 <-> 대한통운 물류이동 트래킹
                      <br>- 올리브영 <-> 대한통운 WMS 재고/수불 개선
                </div><!--//item-->
            </section><!--//section-->
